[Unit]
Description=Grafana
After=prometheus.service
Wants=prometheus.service

[Container]
LogDriver=journald
Image=docker.io/grafana/grafana:11.1.0
ContainerName=grafana
Pod=orbitcheck.pod
Volume=%h/volumes/grafana-data:/var/lib/grafana:Z,U
EnvironmentFile=/%h/.config/grafana/grafana.env
Label="io.containers.autoupdate=image"
NoNewPrivileges=yes

[Service]
Restart=always
ExecStartPre=mkdir -p %h/volumes/grafana-data

[Install]
WantedBy=default.target