[Unit]
Description=API Database 
After=network-online.target
Wants=network-online.target

[Container]
LogDriver=journald
Image=docker.io/library/postgres:18.0-alpine3.22
ContainerName=api-db
Pod=orbitcheck.pod
EnvironmentFile=/home/podmanuser/.config/postgres/api-db.env
Volume=/var/lib/containers/volumes/postgres-data:/var/lib/postgresql/data:Z,U
Label="io.containers.autoupdate=image"
NoNewPrivileges=yes
# Optional resource controls:
# Memory=2G
# CPUQuota=200%

[Service]
Restart=always
ExecStartPre=mkdir -p /var/lib/containers/volumes/api-db

[Install]
WantedBy=default.target