openapi: 3.0.3
info:
  title: OrbitCheck API
  description: A unified API for OrbitCheck services, including dashboard management, validation, deduplication, and risk assessment.
  version: 1.0.0
  contact:
    name: OrbitCheck Team
    email: support@orbitcheck.io
servers:
  - url: https://api.orbitcheck.io/v1
    description: Production server
  - url: https://dev-api.orbitcheck.io/v1
    description: Development server
security:
  - BearerAuth: []
tags:
  - name: UI Endpoints
    description: >-
      Endpoints used exclusively by the web application UI, such as user
      authentication and project/plan management.
paths:
  /projects:
    get:
      tags:
        - UI Endpoints
      summary: List user's projects
      description: Retrieves the list of projects for the authenticated user along with plan information
      operationId: getUserProjects
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of projects and plan information
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Project ID
                        name:
                          type: string
                          description: Project name
                        created_at:
                          type: string
                          format: date-time
                          description: Project creation timestamp
                  plan:
                    type: object
                    properties:
                      slug:
                        type: string
                        description: Plan slug
                      projectsLimit:
                        type: integer
                        description: Maximum number of projects allowed
                      currentProjects:
                        type: integer
                        description: Current number of projects
                      canCreateMore:
                        type: boolean
                        description: Whether user can create more projects
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
    post:
      tags:
        - UI Endpoints
      summary: Create new project
      description: Creates a new project for the authenticated user
      operationId: createProject
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: Project name
      responses:
        '201':
          description: Project created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Project ID
                  name:
                    type: string
                    description: Project name
                  created_at:
                    type: string
                    format: date-time
                    description: Project creation timestamp
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '402':
          description: Project limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/LimitExceededError'
                  plan:
                    type: object
                    properties:
                      slug:
                        type: string
                      projectsLimit:
                        type: integer
                      currentProjects:
                        type: integer
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /projects/{id}:
    delete:
      tags:
        - UI Endpoints
      summary: Delete project
      description: Deletes a project by ID for the authenticated user
      operationId: deleteProject
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Project ID
      responses:
        '200':
          description: Project deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Success message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /user/plan:
    get:
      tags:
        - UI Endpoints
      summary: Get current user plan
      description: Retrieves the current plan and usage information for the authenticated user
      operationId: getUserPlan
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User plan information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPlanResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
    patch:
      tags:
        - UI Endpoints
      summary: Update user plan
      description: Updates the user's subscription plan
      operationId: updateUserPlan
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - planSlug
              properties:
                planSlug:
                  type: string
                  enum:
                    - free
                    - starter
                    - growth
                    - scale
                    - enterprise
                  description: Plan slug to update to
                trialDays:
                  type: integer
                  minimum: 1
                  maximum: 30
                  nullable: true
                  description: Days for trial period (optional)
      responses:
        '200':
          description: Plan updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPlanResponse'
        '400':
          description: Invalid plan slug
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /public/plans:
    get:
      tags:
        - UI Endpoints
      summary: Get available plans
      description: Returns all available subscription plans
      operationId: getAvailablePlans
      security: []
      responses:
        '200':
          description: List of available plans
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Plan ID
                    name:
                      type: string
                      description: Plan name
                    slug:
                      type: string
                      description: Plan slug
                    price:
                      type: number
                      description: Plan price
                    validationsLimit:
                      type: integer
                      description: Monthly validation limit
                    projectsLimit:
                      type: integer
                      description: Project limit
                    logsRetentionDays:
                      type: integer
                      description: Log retention days
                    features:
                      type: object
                      description: Plan features
                    overageRate:
                      type: number
                      description: Overage rate per validation
                    maxOverage:
                      type: integer
                      nullable: true
                      description: Maximum overage allowed
                    sla:
                      type: string
                      nullable: true
                      description: SLA percentage
                    isCustom:
                      type: boolean
                      description: Whether this is a custom plan
                    createdAt:
                      type: string
                      format: date-time
                      description: Plan creation timestamp
                    updatedAt:
                      type: string
                      format: date-time
                      description: Plan update timestamp
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /user/plan/usage/check:
    post:
      tags:
        - UI Endpoints
      summary: Check validation limits
      description: Checks if the user has enough validation quota remaining
      operationId: checkValidationLimits
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - count
              properties:
                count:
                  type: integer
                  minimum: 1
                  description: Number of validations to check
      responses:
        '200':
          description: Usage check result
          content:
            application/json:
              schema:
                type: object
                properties:
                  canProceed:
                    type: boolean
                    description: Whether the user can proceed with the requested validations
                  remainingValidations:
                    type: integer
                    description: Remaining validations in current period
                  overageAllowed:
                    type: boolean
                    description: Whether overage is allowed on current plan
                  monthlyValidationsUsed:
                    type: integer
                    description: Validations used this month
                  planValidationsLimit:
                    type: integer
                    description: Plan validation limit
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '402':
          description: Payment required (limit exceeded)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitExceededError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /auth/register:
    post:
      tags:
        - UI Endpoints
      summary: Register new user
      description: Creates a new user account with default project and API key
      operationId: registerUser
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
                - confirm_password
              properties:
                email:
                  type: string
                  format: email
                  description: User email address
                password:
                  type: string
                  minLength: 8
                  description: User password (minimum 8 characters)
                confirm_password:
                  type: string
                  minLength: 8
                  description: Confirm password (must match password)
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: JWT authentication token
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                        description: User ID
                      email:
                        type: string
                        description: User email
                  request_id:
                    type: string
                    description: Request identifier
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: User already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/login:
    post:
      tags:
        - UI Endpoints
      summary: User login
      description: Authenticates a user and returns JWT token
      operationId: loginUser
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  description: User email address
                password:
                  type: string
                  description: User password
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: JWT authentication token
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                        description: User ID
                      email:
                        type: string
                        description: User email
                  request_id:
                    type: string
                    description: Request identifier
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/logout:
    post:
      tags:
        - UI Endpoints
      summary: User logout
      description: Logs out the current user by clearing the session
      operationId: logoutUser
      security: []
      responses:
        '200':
          description: Logout successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Success message
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token for authentication
  schemas:
    UserPlanResponse:
      type: object
      properties:
        id:
          type: string
          description: User ID
        email:
          type: string
          description: User email
        plan:
          type: object
          description: Current plan details
        monthlyValidationsUsed:
          type: integer
          description: Number of validations used this month
        subscriptionStatus:
          type: string
          description: Subscription status
        trialEndDate:
          type: string
          nullable: true
          format: date-time
          description: Trial end date if applicable
        projectsCount:
          type: integer
          description: Number of projects
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code
            message:
              type: string
              description: Error message
        request_id:
          type: string
          description: Request identifier
    UnauthorizedError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              enum:
                - UNAUTHORIZED
            message:
              type: string
              description: Error message
    ValidationError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              enum:
                - INVALID_INPUT
                - INVALID_PLAN
            message:
              type: string
              description: Error message
    NotFoundError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              enum:
                - NOT_FOUND
            message:
              type: string
              description: Error message
    LimitExceededError:
      type: object
      properties:
        code:
          type: string
          enum:
            - LIMIT_EXCEEDED
        message:
          type: string
          description: Error message
    ServerError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              enum:
                - INTERNAL_SERVER_ERROR
            message:
              type: string
              description: Error message
    ApiKey:
      type: object
      properties:
        id:
          type: string
          description: API key ID
        prefix:
          type: string
          description: API key prefix (first 6 characters)
        status:
          type: string
          enum:
            - active
            - revoked
          description: API key status
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        last_used_at:
          type: string
          format: date-time
          nullable: true
          description: Last used timestamp
    Webhook:
      type: object
      properties:
        id:
          type: string
          description: Webhook ID
        url:
          type: string
          format: uri
          description: Webhook URL
        events:
          type: array
          items:
            type: string
          description: Events this webhook is subscribed to
        status:
          type: string
          enum:
            - active
            - inactive
            - deleted
          description: Webhook status
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        last_fired_at:
          type: string
          format: date-time
          nullable: true
          description: Last time webhook was fired
    Address:
      type: object
      properties:
        line1:
          type: string
          description: Street address line 1
        line2:
          type: string
          description: Street address line 2
        city:
          type: string
          description: City
        state:
          type: string
          description: State or province
        postal_code:
          type: string
          description: Postal code
        country:
          type: string
          description: Two-letter country code
        lat:
          type: number
          nullable: true
          description: Latitude
        lng:
          type: number
          nullable: true
          description: Longitude
    Customer:
      type: object
      properties:
        email:
          type: string
          description: Customer email
        phone:
          type: string
          description: Customer phone
        first_name:
          type: string
          description: Customer first name
        last_name:
          type: string
          description: Customer last name
    CustomerMatch:
      type: object
      properties:
        id:
          type: string
          description: Customer ID
        similarity_score:
          type: number
          description: Similarity score (0-1)
        match_type:
          type: string
          enum:
            - exact_email
            - exact_phone
            - fuzzy_name
          description: Type of match
        data:
          $ref: '#/components/schemas/Customer'
    AddressMatch:
      type: object
      properties:
        id:
          type: string
          description: Address ID
        similarity_score:
          type: number
          description: Similarity score (0-1)
        match_type:
          type: string
          enum:
            - exact_address
            - exact_postal
            - fuzzy_address
          description: Type of match
        data:
          $ref: '#/components/schemas/Address'
    DedupeResult:
      type: object
      properties:
        matches:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              similarity_score:
                type: number
              match_type:
                type: string
              data:
                type: object
        suggested_action:
          type: string
          enum:
            - create_new
            - merge_with
            - review
        canonical_id:
          type: string
          nullable: true
    ValidationResult:
      type: object
      properties:
        valid:
          type: boolean
          description: Whether the validation passed
        reason_codes:
          type: array
          items:
            type: string
          description: List of reason codes
        disposable:
          type: boolean
          description: Whether the result is disposable (for email)
    AddressValidationResult:
      type: object
      properties:
        valid:
          type: boolean
          description: Whether the address is valid
        reason_codes:
          type: array
          items:
            type: string
          description: List of reason codes
        po_box:
          type: boolean
          description: Whether the address is a P.O. Box
        postal_city_match:
          type: boolean
          description: Whether postal code matches city
        in_bounds:
          type: boolean
          description: Whether the address is within bounds
    LogEntry:
      type: object
      properties:
        id:
          type: string
          description: Log entry ID
        type:
          type: string
          description: Log entry type
        endpoint:
          type: string
          description: API endpoint
        reason_codes:
          type: array
          items:
            type: string
          description: List of reason codes
        status:
          type: integer
          description: HTTP status code
        meta:
          type: object
          description: Additional metadata
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
    Rule:
      type: object
      properties:
        id:
          type: string
          description: Rule ID
        name:
          type: string
          description: Rule name
        description:
          type: string
          description: Rule description
        category:
          type: string
          description: Rule category
        enabled:
          type: boolean
          description: Whether the rule is enabled
    ReasonCode:
      type: object
      properties:
        code:
          type: string
          description: Reason code
        description:
          type: string
          description: Description of the reason code
        category:
          type: string
          description: Category of the reason code
        severity:
          type: string
          enum:
            - low
            - medium
            - high
          description: Severity level
    ErrorCode:
      type: object
      properties:
        code:
          type: string
          description: Error code
        description:
          type: string
          description: Description of the error code
        category:
          type: string
          description: Category of the error code
        severity:
          type: string
          enum:
            - low
            - medium
            - high
          description: Severity level
    CustomRule:
      type: object
      properties:
        id:
          type: string
          description: Rule ID
        name:
          type: string
          description: Rule name
        description:
          type: string
          description: Rule description
        reason_code:
          type: string
          description: Reason code to trigger
        severity:
          type: string
          enum:
            - low
            - medium
            - high
          description: Severity level
        enabled:
          type: boolean
          description: Whether the rule is enabled