[Unit]
Description=Valkey
After=network-online.target
Wants=network-online.target

[Container]
LogDriver=journald
Image=docker.io/valkey/valkey:7.2.11
ContainerName=valkey
Pod=orbitcheck.pod
Volume=%h/volumes/valkey-data:/data:Z,U
Label="io.containers.autoupdate=image"
NoNewPrivileges=yes
ReadOnly=false

[Service]
Restart=always
ExecStartPre=mkdir -p %h/volumes/valkey-data

[Install]
WantedBy=default.target