[Unit]
Description=Statping-NG

[Container]
LogDriver=journald
Image=ghcr.io/statping-ng/statping-ng:v0.93
ContainerName=statping
Pod=orbitcheck.pod
Volume=%h/volumes/statping-data:/app:Z,U
EnvironmentFile=/%h/.config/statping/statping.env
Label="io.containers.autoupdate=image"
NoNewPrivileges=yes

[Service]
Restart=always
ExecStartPre=mkdir -p %h/volumes/statping-data

[Install]
WantedBy=default.target