[Unit]
Description=Glitchtip
After=api-db.service valkey.service
Wants=api-db.service valkey.service

[Container]
LogDriver=journald
Image=docker.io/glitchtip/glitchtip:v5.1.1
ContainerName=glitchtip
Pod=orbitcheck.pod
EnvironmentFile=/home/podmanuser/.config/glitchtip/glitchtip.env
Volume=/var/lib/containers/volumes/glitchtip-data:/data:Z,U
Label="io.containers.autoupdate=image"
NoNewPrivileges=yes

[Service]
Restart=always
ExecStartPre=mkdir -p /var/lib/containers/volumes/glitchtip-data

[Install]
WantedBy=default.target