[Unit]
Description=Glitchtip
After=api-db.service valkey.service
Wants=api-db.service valkey.service

[Container]
LogDriver=journald
Image=docker.io/glitchtip/glitchtip:v5.1.1
ContainerName=glitchtip
Pod=orbitcheck.pod
EnvironmentFile=/%h/.config/glitchtip/glitchtip.env
Volume=%h/volumes/glitchtip-data:/data:Z,U
Label="io.containers.autoupdate=image"
NoNewPrivileges=yes

[Service]
Restart=always
ExecStartPre=mkdir -p %h/volumes/glitchtip-data

[Install]
WantedBy=default.target