[Unit]
Description=Caddy reverse proxy Service


[Container]
Image=ghcr.io/guillemso1er/caddy:prod
LogDriver=journald
ContainerName=caddy
Pod=orbitcheck.pod
Volume=%h/volumes/caddy/data:/data:Z,U
Volume=%h/configs/caddy/config:/config:Z,U
Label="io.containers.autoupdate=image"
NoNewPrivileges=yes
PidsLimit=500
Ulimit=nofile=262144:262144

[Service]
Restart=always
ExecStartPre=mkdir -p %h/volumes/caddy/data

ExecStartPre=mkdir -p %h/configs/caddy/config

[Install]
WantedBy=default.target