[Unit]
Description=Caddy reverse proxy

[Container]
Image=caddy.build
LogDriver=journald
ContainerName=caddy
Pod=orbitcheck.pod
Volume= /var/lib/containers/configs/caddy/Caddyfile:/etc/caddy/Caddyfile:Z
Volume=/var/lib/containers/volumes/caddy/data:/data:Z,U
Volume=/var/lib/containers/configs/caddy/config:/config:Z,U
Volume=/var/lib/containers/volumes/caddy-dashboard:/srv/dashboard:Z
Label="io.containers.autoupdate=image"
NoNewPrivileges=yes
PidsLimit=500
Ulimit=nofile=262144:262144
Pod=orbitcheck.pod

[Service]
Restart=always
ExecStartPre=mkdir -p /var/lib/containers/volumes/caddy-caddyfile

ExecStartPre=mkdir -p /var/lib/containers/volumes/caddy-dashboard

[Install]
WantedBy=default.target