[Unit]
Description=Uptime Kuma

[Container]
LogDriver=journald
Image=docker.io/louislam/uptime-kuma:1.23.13
ContainerName=uptime-kuma
Pod=orbitcheck.pod
Volume=/var/lib/containers/volumes/uptime-kuma-data:/app/data:Z,U
Label="io.containers.autoupdate=image"
NoNewPrivileges=yes

[Service]
Restart=always
ExecStartPre=mkdir -p /var/lib/containers/volumes/uptime-kuma-data
[Install]
WantedBy=default.target