# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "2ebc37999d5484575916bbdf29900ac2"
name = "orbitcheck"
application_url = "https://shp.orbitcheck.io"
embedded = true

[build]
automatically_update_urls_on_dev = false
include_config_on_deploy = true

[webhooks]
api_version = "2025-10"

[[webhooks.subscriptions]]
topics = [ "app/uninstalled" ]
uri = "/webhooks/app/uninstalled"

[[webhooks.subscriptions]]
topics = [ "orders/create" ]
uri = "/webhooks/orders/create"

[[webhooks.subscriptions]]
topics = [ "customers/create" ]
uri = "/webhooks/customers/create"

[[webhooks.subscriptions]]
topics = [ "customers/update" ]
uri = "/webhooks/customers/update"

[[webhooks.subscriptions]]
topics = [ "app/scopes_update" ]
uri = "/webhooks/app/scopes_update"

# GDPR compliance webhooks (mandatory)
[[webhooks.subscriptions]]
compliance_topics = [ "customers/data_request", "customers/redact", "shop/redact" ]
uri = "/webhooks/gdpr"

[access_scopes]
scopes = "read_orders,write_orders,read_customers,write_customers,read_merchant_managed_fulfillment_orders,write_merchant_managed_fulfillment_orders"

[auth]
redirect_urls = [ "https://shp.orbitcheck.io" ]

[app_proxy]
url = "https://api.orbitcheck.io/integrations/shopify/auth/callback"
subpath = "apps"
prefix = "apps"

