[Unit]
Description=API Database 
After=network-online.target
Wants=network-online.target

[Container]
LogDriver=journald
Image=docker.io/library/postgres:18.0-alpine3.22
ContainerName=postgres
Pod=orbitcheck.pod
EnvironmentFile=/var/lib/containers/configs/postgres/env/postgres.env
Volume=/var/lib/containers/volumes/postgres-data:/var/lib/postgresql/data:Z,U
Label="io.containers.autoupdate=image"
NoNewPrivileges=yes
# Optional resource controls:
# Memory=2G
# CPUQuota=200%

[Service]
Restart=always
ExecStartPre=mkdir -p /var/lib/containers/volumes/postgres-data

[Install]
WantedBy=default.target