[Unit]
Description=Caddy reverse proxy
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/library/caddy:2.10.2
ContainerName=caddy
Pod=orbitcheck.pod
PublishPort=80:80/tcp
PublishPort=443:443/tcp
Volume=/var/lib/containers/volumes/caddy-caddyfile:/etc/caddy/Caddyfile:Z
Volume=/var/lib/containers/volumes/caddy-data:/data:Z,U
Volume=/var/lib/containers/volumes/caddy-config:/config:Z,U
Volume=/var/lib/containers/volumes/caddy-dashboard:/srv/dashboard:Z
Label="io.containers.autoupdate=image"
NoNewPrivileges=yes
PidsLimit=500
Ulimit=nofile=262144:262144

[Service]
Restart=always

[Install]
WantedBy=default.target