[Unit]
Description=Frontend
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/library/node:24
ContainerName=frontend
Pod=myapp
# Better: build a static site at CI time and serve via Caddy directly
# If you must run node, set your start cmd via Command=...
ContainerAutoUpdate=registry
ReadOnly=false

[Service]
Restart=always

[Install]
WantedBy=default.target