[Unit]
Description=Glitchtip
After=postgres.service valkey.service
Wants=postgres.service valkey.service

[Container]
Image=docker.io/glitchtip/glitchtip:latest
ContainerName=glitchtip
od=orbitcheck.pod
EnvironmentFile=/srv/myapp/glitchtip/env/glitchtip.env
Volume=/var/lib/containers/volumes/glitchtip-data:/data:Z,U
Label="io.containers.autoupdate=image"
NoNewPrivileges=yes

[Service]
Restart=always

[Install]
WantedBy=default.target