[Unit]
Description=Grafana
After=prometheus.service
Wants=prometheus.service

[Container]
Image=docker.io/grafana/grafana:11.1.0
ContainerName=grafana
Pod=orbitcheck
Volume=/var/lib/containers/volumes/grafana-data:/var/lib/grafana:Z,U
Volume=/var/lib/containers/volumes/grafana-provisioning:/etc/grafana/provisioning:Z
EnvironmentFile=/srv/myapp/grafana/env/grafana.env
ContainerAutoUpdate=registry
NoNewPrivileges=yes

[Service]
Restart=always

[Install]
WantedBy=default.target