[Unit]
Description=Infisical Backend
After=infisical-db.service infisical-redis.service
Wants=infisical-db.service infisical-redis.service

[Container]
Image=docker.io/infisical/infisical:v0.150.0
ContainerName=infisical-backend
Pod=orbitcheck.pod
EnvironmentFile=/srv/myapp/infisical/env/backend.env
Label="io.containers.autoupdate=image"
NoNewPrivileges=yes

[Service]
Restart=always
[Install]
WantedBy=default.target