[Unit]
Description=Infisical Redis

[Container]
Image=docker.io/library/redis:7.2.5
ContainerName=infisical-redis
Pod=orbitcheck.pod
Volume=/var/lib/containers/volumes/infisical-redis-data:/data:Z,U
Label="io.containers.autoupdate=image"
NoNewPrivileges=yes

[Service]
Restart=always
[Install]
WantedBy=default.target