[Unit]
Description=Infisical DB

[Container]
Remove=false
Image=docker.io/library/postgres:14-alpine
ContainerName=infisical-db
Pod=orbitcheck.pod
Volume=/var/lib/containers/volumes/infisical-db-data:/var/lib/postgresql/data:Z,U
EnvironmentFile=/srv/myapp/infisical/env/db.env
Label="io.containers.autoupdate=image"
NoNewPrivileges=yes

[Service]
Restart=always
ExecStartPre=mkdir -p /var/lib/containers/volumes/infisical-db-data
[Install]
WantedBy=default.target