[Unit]
Description=Prometheus
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/prom/prometheus:v2.53.0
ContainerName=prometheus
Pod=myapp
Volume=/srv/myapp/prometheus/config:/etc/prometheus:Z
Volume=/srv/myapp/prometheus/data:/prometheus:Z,U
ContainerAutoUpdate=registry
NoNewPrivileges=yes

[Service]
Restart=always

[Install]
WantedBy=default.target