[Unit]
Description=Prometheus
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/prom/prometheus:v2.53.0
ContainerName=prometheus
Pod=orbitcheck.pod
Volume=/var/lib/containers/volumes/prometheus-config:/etc/prometheus:Z
Volume=/var/lib/containers/volumes/prometheus-data:/prometheus:Z,U
Label="io.containers.autoupdate=image"
NoNewPrivileges=yes

[Service]
Restart=always

[Install]
WantedBy=default.target