[Unit]
Description=Statping-NG

[Container]
LogDriver=journald
Image=ghcr.io/statping-ng/statping-ng:v0.93
ContainerName=statping
Pod=orbitcheck.pod
Volume=/var/lib/containers/volumes/statping-data:/app:Z,U
EnvironmentFile=/var/lib/containers/configs/statping/env/statping.env
Label="io.containers.autoupdate=image"
NoNewPrivileges=yes

[Service]
Restart=always
ExecStartPre=mkdir -p /var/lib/containers/volumes/statping-data

[Install]
WantedBy=default.target