[Unit]
Description=Statping-NG

[Container]
Remove=false
Image=docker.io/statping-ng/statping-ng:v0.90.80
ContainerName=statping
Pod=orbitcheck.pod
Volume=/var/lib/containers/volumes/statping-data:/app:Z,U
EnvironmentFile=/srv/myapp/statping/env/statping.env
Label="io.containers.autoupdate=image"
NoNewPrivileges=yes

[Service]
Restart=always
ExecStartPre=mkdir -p /var/lib/containers/volumes/statping-data

[Install]
WantedBy=default.target