[Unit]
Description=Uptime Kuma

[Container]
Image=docker.io/louislam/uptime-kuma:1.23.13
ContainerName=uptime-kuma
Pod=orbitcheck
Volume=/var/lib/containers/volumes/uptime-kuma-data:/app/data:Z,U
ContainerAutoUpdate=registry
NoNewPrivileges=yes

[Service]
Restart=always
[Install]
WantedBy=default.target