[Unit]
Description=Valkey
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/valkey/valkey:7.2.11
ContainerName=valkey
Pod=orbitcheck
Volume=/var/lib/containers/volumes/valkey-data:/data:Z,U
ContainerAutoUpdate=registry
NoNewPrivileges=yes
ReadOnly=false

[Service]
Restart=always

[Install]
WantedBy=default.target