[Unit]
Description=Loki
After=network-online.target
Wants=network-online.target

[Container]
LogDriver=journald
Image=docker.io/grafana/loki:2.9.8
ContainerName=loki
Pod=orbitcheck.pod
Volume=%h/volumes/loki-config:/etc/loki:Z
Volume=%h/volumes/loki-data:/loki:Z,U
Label="io.containers.autoupdate=image"
NoNewPrivileges=yes

[Service]
Restart=always
ExecStartPre=mkdir -p %h/volumes/loki-config
ExecStartPre=mkdir -p %h/volumes/loki-data

[Install]
WantedBy=default.target